[project]
name = "lambda-testing"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "moto>=5.1.19",
    "pytest>=9.0.2",
]
