name: Unit Tests

on:
  push:
    branches: [main]
    paths:
      - "src/**"
      - ".github/workflows/**"

  pull_request:
    branches: [main]
    paths:
      - "src/**"
      - ".github/workflows/**"

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./basic-testing

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Run unit tests
        run: make test-unit
